.wrapper{

}
.headerIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 25px 0;
  img{
    height: 70px;
    margin-bottom: 10px;
  }
  h1{
    font-size: 32px;
    color: #7878FF;
  }
}

.mainClass{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10% 16px 0 16px;
  height: calc(100vh - 189px - var(--startpage-header-text-height));
}

.submitButton{
  height: 50px;
  background: #5C33BE;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 18px;
  position: relative;
  bottom: 40%;
}