.wrapper{

}
.headerIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 25px 0;
  img{
    height: 10vh;
    margin-bottom: 10px;
  }
  h1{
    font-size: 32px;
    color: var(--main-color);
  }
}

.mainClass{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  height: calc(100vh - 202px - var(--startpage-header-text-height));
  overflow: scroll;

}

.submitButton{
  height: 50px;
  background: var(--main-color);
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  padding: 15px;
  margin-top: 80px;
  margin-bottom: 60px;
}