.wrapper{
  height: calc(100vh - var(--startpage-header-text-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemList{
  position: absolute;
  transform: translateY(calc(9.61vh + 40px));
  width: 100vw;
  top: 0;
  height: calc(100vh - 40px - 9.61vh - 292px); //减掉其他的东西
  overflow: scroll;
}

.tabs{
  background: #8F4CD6;
  display: flex;
  height: 40px;
  justify-content:center;
  align-items: center;

  li{
    width: 50%;
    height: 100%;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.selected{
  position: relative;
  &::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #C8B1FF;
  }
}

