.wrapper{
  height: 100px;
  width: 100%;
  padding: 16px;
}

.mainBalanceClass{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background:#252A43;
  border-radius: 10px;
  .navClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
      margin-top:6px ;
    }
  }
}
.income{
  color: #FE7275;
}
.expend{
  color:#53A867
}
.balance{
  color: #FFFFFF;
}