.wrapper{

}

.mainCreateTag{
  display: flex;
  height: calc(100vh - var(--startpage-header-text-height));
  flex-direction: column;
  justify-content: space-between;
}

.inputClass{
  display: flex;
  flex-direction: column;
  padding: 34px 16px 16px 16px;
  .tagNameClass{
    font-size: 18px;
  }
  input{
    width: 100%;
    height: 48px;
    border:1px solid var(--main-color);
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 18px;
    margin-top:10px ;
    margin-bottom: 8px;
  }
  .blank{
    font-size: 14px;
    height: 20px;
    color: red;
  }
}

.mainClass{
  width: 100vw;
  height: calc(100vh - var(--startpage-header-text-height) - 161px - 153px);
}

.upButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 37px 16px 66px 16px;
  .buttonClass {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background: var(--main-color);
    color: #FFFFFF;
    font-size: 18px;
  }
}

.editButton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 93px 16px;
  .editButtonClass {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background: var(--main-color);
    color: #FFFFFF;
    font-size: 18px;
  }
}

.secondBlank{
  color: red;
  position: relative;
  transform: translateX(17px) translateY(-20px);
  width:80%;
  font-size: 14px;

}