.wrapper{

}

.mainList{
  display: flex;
  flex-wrap: wrap;

  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-top: 15px;
    >div{
      font-size: 20px;

      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      background: #EFEFEF;

    }
    .selected{
      border: 2px solid var(--main-color);
    }
    .inLongPress {
      animation: zoomOut 0.8s cubic-bezier(0.75, 0, 0.62, 1) both;
    }
  }
}

@keyframes zoomOut {
0%{
  background: #EFEFEF;

  transform: scale(1.5);
}
  100%{
    background: #47A3FF;
    transform: scale(0.1);
  }
}